@import "compass";
html,body,p,h1,h2,h3,h4,h5,span{font-family: 'Philosopher', sans-serif;}
#particles-js {position: absolute;width: 100%;height: 100%;background-color: #b61924;background-image: url("");background-repeat: no-repeat;background-size: cover;background-position: 50% 50%;}
.herotext{height: 300px;width: 100%;position: absolute;bottom: 5%;
	.jumbo{font-size: 50px; color: #fff;}
	.subtext{font-size: 20px; color: #fff;letter-spacing: 10px;}
	.btn-cust{padding: 8px 15px; color: #fff;border: 1px solid #fff;background: none;position: relative;;border-radius: 0;overflow: hidden;z-index: 1;
		&:before{content:"";position: absolute;width: 100%;height: 100%;background:rgba(255,255,255,.7);top: 0;left: -100%;@include transition(all 1s ease-in-out);z-index: -1;}
		&:hover{color: #f00;}
		&:hover:before{left: 0;}		
	}
}